* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
}

.lado_izq {
  background-color: rgb(14, 23, 109);
  width: 50%;
}

h1 {
  text-align: center;
  color: springgreen;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  text-align: center;
  color: orange;
  font-size: 28px;
  font-family: monospace;
}

.contenedor_img {
  width: 50%;
  margin: 0 auto;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lado_der {
  background-color: springgreen;
  width: 50%;
}

.subtitulo {
  text-align: center;
  font-size: 30px;
  color: blue;
}

a {
  color: white;
  font-size: 40px;
  font-family: monospace;
  font-weight: 600;
  text-decoration: none;
}


@media screen and (max-width:767px) {
  .lado_izq{
    background-color: coral;
  }
  .lado_der{
    background-color: crimson;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px){
  .lado_izq{
    background-color: rgb(80, 255, 80);
  }
  .lado_der{
    background-color: rgb(217, 220, 20);
  }

}

@media screen and (min-width:1025px){

}

